<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-item-heading" jhiTranslate="inventoryNoElasticApp.item.home.createOrEditLabel">Create or edit a Item</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inventoryNoElasticApp.item.itemName" for="field_itemName">Item Name</label>
                    <input type="text" class="form-control" name="itemName" id="field_itemName"
                           formControlName="itemName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inventoryNoElasticApp.item.image" for="field_image">Image</label>
                    <div>
                        <img [src]="'data:' + editForm.get('imageContentType')!.value + ';base64,' + editForm.get('image')!.value" style="max-height: 100px;" *ngIf="editForm.get('image')!.value" alt="item image"/>
                        <div *ngIf="editForm.get('image')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('imageContentType')!.value }}, {{ byteSize(editForm.get('image')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('image', 'imageContentType', 'file_image')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_image" (change)="setFileData($event, 'image', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="image" id="field_image"
                           formControlName="image"/>
                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                           formControlName="imageContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inventoryNoElasticApp.item.tag" for="field_tag">Tag</label>
                    <input type="text" class="form-control" name="tag" id="field_tag"
                           formControlName="tag"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inventoryNoElasticApp.item.qrCode" for="field_qrCode">Qr Code</label>
                    <div>
                        <div *ngIf="editForm.get('qrCode')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('qrCodeContentType')!.value, editForm.get('qrCode')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('qrCodeContentType')!.value }}, {{ byteSize(editForm.get('qrCode')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({qrCode: null});editForm.patchValue({qrCodeContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_qrCode" (change)="setFileData($event, 'qrCode', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="qrCode" id="field_qrCode"
                           formControlName="qrCode"/>
                    <input type="hidden" class="form-control" name="qrCodeContentType" id="field_qrCodeContentType"
                           formControlName="qrCodeContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inventoryNoElasticApp.item.barCode" for="field_barCode">Bar Code</label>
                    <div>
                        <div *ngIf="editForm.get('barCode')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('barCodeContentType')!.value, editForm.get('barCode')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('barCodeContentType')!.value }}, {{ byteSize(editForm.get('barCode')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({barCode: null});editForm.patchValue({barCodeContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_barCode" (change)="setFileData($event, 'barCode', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="barCode" id="field_barCode"
                           formControlName="barCode"/>
                    <input type="hidden" class="form-control" name="barCodeContentType" id="field_barCodeContentType"
                           formControlName="barCodeContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inventoryNoElasticApp.item.location" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" formControlName="locationId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="locationOption.id" *ngFor="let locationOption of locations; trackBy: trackById">{{ locationOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
